body {
    background-color: #262525;
    margin:0px;
}

hr { 
    width: 100%;
    border-color: #3f3d3d; 
    border-style: solid; 
    border-width: 1px; 
    margin: 2em 9.25em 1em 0.5em; 
}

.break {
    flex-basis: 100%;
}

.main-content {
    background-color: #1d1d1d; 
    margin-left: 75px;
    margin-right: 0;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;

    padding: 0 0 2em 2.25em;
}

.search_box {
    min-height: 2em;
    min-width: 10em;
    width: 35%;
    justify-content: left;
    
    /* margin-right: 21%; */
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    
    font-size: 0.9em;
    border: none;
    background-color: #1d1d1d;
    color: white;
    text-align: left;
    outline: none;

    padding: 0.25em 0.25em 0.25em 1em;

    margin-left: auto;
    margin-right: 0;
}

.search_button {
    background-color: #fff821;
    border: none;   
    color: black;

    padding: 0.25em 2em 0.25em 2em;
    margin: 1.15em 0 1.12em 0;
}

a:hover {
    color: #a8a8a8;
}

#search_icon {
    text-decoration: none;
    padding: 0.275em 0 0 0;
}

.container {
    display: inline-block;
}

#navbar {
    width: 100%;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    padding-right: 4em;
    padding-left: 1em;

    z-index: 1;
}

#video {
    border-width: 2px;
    border-color: #262525;
    border-style: solid;

    margin: 2em 0 0 1.5em;
    padding: 1em 0em 0.8em 0.1em;
    background-color: rgb(10, 10, 10); 

    justify-content: left;
}

#thumbnail {
    margin: 1em 0 0 0.5em;
    padding: 0em 0em -0.8em 0.1em;

    display: block;

    width: 210px;
    height: 100%;

    border-width: 2px;
    border-color: #262525;
    border-style: solid;

    background-color: rgb(10, 10, 10); 

    justify-content: left;
}

.row_title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: white;

    padding: 0 0 0 0;
    margin: 1.25em 0 0 0.5em;

    flex-basis: 100%;
}

.video_title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: regular;
    color: #bebebe;

    min-width: 210px;

    padding: 0.25em 0 0.75em 0.5em;
}

.video_container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    background-color: rgb(10, 10, 10); 
}

.nav_bar {
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 4.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 100%;
    height: 100%;
    max-width: 8.5em;
    max-height: 1.65em;

    display: inline-block;
    align-items: stretch;
    position:relative;

    padding-top: 1.45em;
    padding-right: 0.5em;
    padding-left: 0;

    margin-left: 0.2em;
}

.bars_button {
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 2em;
    height: 2em;
    margin: 0.9em 0 0 0;
    cursor: pointer;
}

#bars_icon {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.social_media {
    overflow:hidden;
    font-size: 2em;
    text-decoration: none;
    display:block;

    white-space: nowrap;

    padding-left: 1em;

    margin-top: 0.35em;
    margin-left: auto;
    margin-right: -1em;
}

.social_media a {
    color: yellow;
    overflow: hidden;
}

.social_media a:hover {
    color: #a8a8a8;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 75px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#262525;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5em; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap;
    overflow: hidden;
}
  
/* The navigation menu links */
.sidenav a {
    padding: 0.6em 8px 0.6em 32px;
    text-decoration: none;
    font-size: 1.05em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e7e7e7;
    display: block;
    transition: 0.3s;
}

.sidenav a i {
    font-size: 1.25em;
    padding-right: 1em; 
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: rgb(155, 155, 155);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#company {
    color: #575252;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 6em;
    bottom: -24em;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .4s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */
  